body {
    background-image: linear-gradient(to bottom right, #dbe6e6, #80d6ec);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4c565b;
    height: 100vh;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 40px;
    background-color: #62c0e5;
    padding: 20px;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #c4bdbd;
}

img {
    display: block;
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
}

#intro {
    text-align: center;
    line-height: 50px;
}

.page_content {
    text-align: center;
    margin-top: 150px;
}

h2 {
    margin-top: 40px;
}

p {
    line-height: 30px;
    font-size: 18px;
}

#contact {
    list-style-type: none;
    font-size: 22px;
    line-height: 50px;
}