body {
    background-color: #dceeef;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4c565b
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 30px;
    background-color: #3caad5;
    padding: 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #ada5a5;
}

img {
    display: block;
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
}

#intro {
    text-align: center;
    line-height: 50px;
}

.page_content {
    text-align: center;
    margin-top: 150px;
}

h3 {
    margin-top: 40px;
}

p {
    line-height: 30px;
}

#contact {
    list-style-type: none;
    font-size: 22px;
    line-height: 50px;
}